


/* Background */
$background-600 : #242424;
$background-400 : #333333;
$background-200 : #4D4D4D;
$background-400-blur : rgba(51, 51, 51, 0.62);


/* Primary */
$primary-200 : #1998FF;
$primary-400 : #0F6EBB;
$primary-600 : #264661;
$primary-800 : #203648;


/* Secondary */
$secondary-100 : #6DADCF;
$secondary-200 : #6395A8;
$secondary-400 : #425E69;
$secondary-600 : #1D3843;

/* Ternary */
$ternary-200: #FFA54A;
$ternary-400: #F87C00;
$ternary-600: #C86400;


/* White */
$white-100: #E1E7EC;
$white-200: #C7D3DE;
$white-300: #AEBECC;
$white-400: #98A9B7;
$white-500: #8494A1;
$white-600: #667079;
$white-700: #414A52;
$white-800: #252B30;
$white-900: #1C2023;

/* Other */
$watermark: #313131;



